<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
	    
    	
	<!-- <context:annotation-config /> -->
	<context:component-scan base-package="org.mvc" />
		
	<import resource="spring-context.xml"></import>
	<import resource="mvc-dispatcher-servlet.xml"></import>
	<import resource="spring-security.xml"></import>
		
		
	<context:property-placeholder location="classpath:application.properties" ignore-unresolvable="true" />
	
</beans>