<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<http auto-config="true">
	<access-denied-handler ref="customAccessDeniedHandler" />
	<csrf disabled="true"/>
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/login*" access="isAnonymous()" />
		<intercept-url pattern="/user/**" access="hasAuthority('USER')" />
		<intercept-url pattern="/admin/**" access="hasAuthority('ADMIN')" />
		
		<form-login login-page="/login.html" 
		    authentication-success-handler-ref="customSuccessHandler"
			authentication-failure-url="/login.html?error=true"
		    username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login.html?logout=true" />
	</http>
	
	<beans:bean id="customSuccessHandler"  class="org.mvc.security.config.CustomSuccessHandler" />
    <beans:bean id="customAccessDeniedHandler"  class="org.mvc.security.config.CustomAccessDeniedHandler" />
	
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userDetailsService">
		</authentication-provider>
	</authentication-manager>


	
</beans:beans>